LINE_MESSAGE_CHANNEL_ACCESS_TOKEN=""
LINE_MESSAGE_CHANNEL_SECRET=""

LINE_LOGIN_CHANNEL_CLIEND_ID=""
LINE_LOGIN_CHANNEL_SECRET=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

AZURE_SQL_CONNECT_STRING=""
SQL_CONNECT_STRING=""

DJANGO_DEBUG=""
DJANGO_ALLOWED_HOSTS=""
DJANGO_SECRET_KEY=""

DJANGO_CSRF_TRUSTED_ORIGINS=""
DJANGO_CSRF_ALLOWED_ORIGINS=""
DJANGO_CSRF_ORIGINS_WHITELIST=""
DJANGO_ROOT_URL=""